In [41]:
# single line loopps -- list comprehension
import random
import numpy as np

In [42]:
r = random.randint(1,10) # inclusive upper bound -- will use 1 - 10 -- not exclusive

print(str(r) + ' r is large') if r > 5 else print(str(r) + ' r is small')

7 r is large

In [43]:
# one line for loops
for i in range(10): # not one line
    print(i**2)

0
1
4
9
16
25
36
49
64
81

In [44]:
 [ print(i**2) for i in range(10) ] # list comprhension -- one line for loop - list construction - small needs

0
1
4
9
16
25
36
49
64
81

[None, None, None, None, None, None, None, None, None, None]

In [45]:
# none list -- the special data type of print is None
# let's output without print
list = [ i**2 for i in range(10) ] # list comprhension -- one line for loop
list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [46]:
# can get more complex
list = [ i**2 for i in range(10) if i > 5 ] # list comprhension -- one line for loop
list

[36, 49, 64, 81]

In [70]:
# let's convert the following loops into single line list comprehensions
# text = [ 'Promising', 'Yves', 'that', 'home', 'on', 'Nowhere' ]
# for word in text:
#    print(word[0])
text = [ 'Promising', 'Yves', 'that', 'home', 'on', 'Nowhere' ]
[  print(word[0]) for word in text ];                            # use ; to supress output final line

P
Y
t
h
o
N

In [55]:
newlist = ['']*10

for i in range(10):
    if i%2 == 1:
        newlist[i] = 'odd'
    else:
        newlist[i] = i

newlist

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [80]:
nl = [ 'odd' if i%2==1 else i for i in range(10) ]  # iteration is to the right side -- the expression to the left
nl

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [81]:
x1 = np.linspace(-3,3,11) # need to get 11 numbers linearly spaced betweew -3 and 3
y1 = x1**2

print(x1)
print(y1)

[-3.  -2.4 -1.8 -1.2 -0.6  0.   0.6  1.2  1.8  2.4  3. ]
[9.   5.76 3.24 1.44 0.36 0.   0.36 1.44 3.24 5.76 9.  ]

In [86]:
x2 = [ i/(5/3) for i in range(-5,6) ]
y2 = [ i**2 for i in x2 ]
x1, y1, print(' '), x2, y2

(array([-3. , -2.4, -1.8, -1.2, -0.6,  0. ,  0.6,  1.2,  1.8,  2.4,  3. ]),
 array([9.  , 5.76, 3.24, 1.44, 0.36, 0.  , 0.36, 1.44, 3.24, 5.76, 9.  ]),
 None,
 [-3.0,
  -2.4,
  -1.7999999999999998,
  -1.2,
  -0.6,
  0.0,
  0.6,
  1.2,
  1.7999999999999998,
  2.4,
  3.0],
 [9.0,
  5.76,
  3.2399999999999993,
  1.44,
  0.36,
  0.0,
  0.36,
  1.44,
  3.2399999999999993,
  5.76,
  9.0])