In [3]:
import numpy as np
import pandas as pd # for data set for observations by features 2 dimensions

In [6]:
# random data
np.random.randn()

-0.15489854911816864

In [7]:
np.random.randn(5) # array

array([ 1.62644419, -0.50722128,  0.2454699 ,  0.3090371 ,  1.70119621])

In [8]:
np.random.randn(5,5) # matrix

array([[-0.77683415,  0.19405406, -1.14188176, -0.71765273,  0.29504205],
       [ 0.71852813, -0.11785364,  0.93462902, -0.20565271, -0.12425032],
       [-0.88330342,  0.55644248, -0.09560278,  1.11494653, -0.65838435],
       [ 0.3592987 ,  0.42617172,  1.19054629, -0.77388764, -0.60601551],
       [-0.31229244, -0.61144655,  1.48909345, -1.07097835, -0.28665024]])

In [13]:
var1 = np.random.randn(100)*5 + 20 # 1 dim vector
var2 = np.random.randn(100)>0

# LABELS
labels = [ 'temp (c)', 'ice cream eaten' ]

# put together into dictionary
D = { labels[0]:var1, labels[1]:var2 }
D

{'temp (c)': array([ 4.93855792, 25.93371525, 10.95422312, 22.02262248, 22.63366908,
        22.74583981, 17.45226445, 24.67939913, 26.91316466, 13.00004373,
        18.72882226, 11.66632365, 20.02925968, 21.66095807, 18.58122103,
        18.99876492, 25.88030308, 20.36672977, 18.0662299 , 17.88421199,
        19.1899849 , 22.72732058, 21.20151193, 13.60545054, 19.00305139,
        11.93660288, 25.92572511, 23.70551201, 25.86725061, 15.58842421,
        27.80018923, 13.37952821, 18.44320542, 19.94687173, 15.13502455,
        22.77710254, 26.49169288, 18.05824526, 16.29057143, 24.47342305,
        15.30429276, 19.65270036, 16.58480842, 26.34178094, 21.14319893,
        23.38243691, 20.83531666, 20.34787537, 24.405107  , 20.27457344,
        17.6594231 , 14.54770243, 22.70288111, 19.92491185, 13.93624848,
        18.47835134, 28.76887782, 20.68673491, 14.09719156, 20.14793458,
        12.81794537, 23.82287155, 12.75525118, 19.12880543, 22.23590196,
        15.21925631, 19.06441776, 15.9468371 , 12.28001881, 17.63511836,
        18.31378952, 23.28782299, 20.4103978 , 25.1480751 , 24.94459895,
        20.54160222, 17.67459632, 22.54702721, 24.8071153 , 26.90450005,
        19.92922472, 27.28940109, 22.30143643, 21.2304882 , 23.06877215,
        28.51350143, 12.24190358, 24.95966523, 16.59446703,  9.78038004,
        16.65270335, 26.68767874, 23.83306926, 17.72201638, 16.11087042,
        29.93348023, 27.25018949, 24.68529068, 25.89718249, 10.45326394]),
 'ice cream eaten': array([False, False,  True,  True,  True, False,  True,  True,  True,
        False, False,  True,  True, False, False, False,  True,  True,
        False,  True, False,  True, False, False, False,  True,  True,
         True, False,  True, False,  True, False, False, False, False,
         True, False, False,  True, False, False, False,  True,  True,
         True, False, False,  True,  True,  True,  True, False,  True,
         True,  True,  True,  True,  True, False,  True,  True, False,
        False,  True, False,  True,  True, False, False, False,  True,
        False,  True, False,  True, False, False,  True,  True, False,
         True,  True,  True,  True,  True, False,  True, False, False,
        False,  True, False,  True,  True, False, False,  True,  True,
         True])}

In [15]:
#import into a pandas dataframe - combine the labels into rows/cols
df = pd.DataFrame(data=D)
df

     temp (c)  ice cream eaten
0    4.938558            False
1   25.933715            False
2   10.954223             True
3   22.022622             True
4   22.633669             True
..        ...              ...
95  29.933480            False
96  27.250189            False
97  24.685291             True
98  25.897182             True
99  10.453264             True

[100 rows x 2 columns]

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
df.head() # takes top 5 rows

    temp (c)  ice cream eaten
0   4.938558            False
1  25.933715            False
2  10.954223             True
3  22.022622             True
4  22.633669             True

In [18]:
df.count()

temp (c)           100
ice cream eaten    100
dtype: int64

In [19]:
df.mean()

temp (c)           20.045263
ice cream eaten     0.540000
dtype: float64

In [21]:
df.tail() # takes last 5 rows

     temp (c)  ice cream eaten
95  29.933480            False
96  27.250189            False
97  24.685291             True
98  25.897182             True
99  10.453264             True

In [22]:
df.tail(20) #takes x number specified last rows -- same works for head(x)

     temp (c)  ice cream eaten
80  19.929225            False
81  27.289401             True
82  22.301436             True
83  21.230488             True
84  23.068772             True
85  28.513501             True
86  12.241904            False
87  24.959665             True
88  16.594467            False
89   9.780380            False
90  16.652703            False
91  26.687679             True
92  23.833069            False
93  17.722016             True
94  16.110870             True
95  29.933480            False
96  27.250189            False
97  24.685291             True
98  25.897182             True
99  10.453264             True

In [41]:
# let's create a dataframe with the following cols - integers 0-10, their square, and their log
nums = np.array(range(11))

df =pd.DataFrame( {'nums':nums, 'square':nums**2, 'log':np.log(nums) } )

# we get a divide by zero warning -- not an error

C:\Users\scott\AppData\Local\Temp\ipykernel_2212\1130423050.py:4: RuntimeWarning: divide by zero encountered in log
  df =pd.DataFrame( {'nums':nums, 'square':nums**2, 'log':np.log(nums) } )

In [42]:
df

    nums  square       log
0      0       0      -inf
1      1       1  0.000000
2      2       4  0.693147
3      3       9  1.098612
4      4      16  1.386294
5      5      25  1.609438
6      6      36  1.791759
7      7      49  1.945910
8      8      64  2.079442
9      9      81  2.197225
10    10     100  2.302585